@charset "UTF-8";
:root {
  --header-color: #ffffff;
  --header-title: #ffffff;
  --title-color: #303030;
  --descr-color: #555555;
  --second-color: #ff6c00;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h4,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--header-color);
  background-color: transparent;
  min-width: 160px;
  min-height: 40px;
  border: 1px solid var(--second-color);
  border-radius: 25px;
  -webkit-transition: color 250ms linear, border 250ms linear;
  transition: color 250ms linear, border 250ms linear;
}

.button:hover {
  color: var(--second-color);
  border: 1px solid #ffffff;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.current {
  color: var(--second-color);
  position: relative;
}

.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--second-color);
  left: 0;
  bottom: -32px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-color);
}

.title-before {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-before::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 21px;
  background-color: currentColor;
}

.about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-item:first-child {
  margin-right: 30px;
}

.about-descr-container {
  padding-left: 64px;
}

.about-title-before {
  color: var(--title-color);
  margin-bottom: 20px;
}

.about-title {
  margin-bottom: 20px;
}

.about-title-after {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--descr-color);
  margin-bottom: 20px;
}

.about-descr {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--descr-color);
  margin-bottom: 40px;
}

.about-btn {
  color: var(--title-color);
  padding: 12px 20px;
}

.about-btn:hover {
  border: 1px solid var(--title-color);
}

.connect-wrap {
  background-color: #191c26;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: calc(50% - 15px);
  background-position: right;
  min-width: 1280px;
  margin: 0 auto;
}

.connect-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 130px;
  padding-bottom: 130px;
}

.booking-title,
.contacts-title {
  font-family: Raleway;
  color: var(--header-title);
}

.booking-form {
  width: 560px;
  height: 250px;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  margin-bottom: 75px;
}

.input-name {
  margin-right: 20px;
}

.input-name,
.input-tel {
  width: 260px;
  height: 24px;
  padding: 8px 2px;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: var(--header-color);
  cursor: pointer;
  -webkit-transition: border-bottom 250ms linear;
  transition: border-bottom 250ms linear;
}

.input-name:focus,
.input-tel:focus {
  border-bottom: 1px solid #ffffff;
  cursor: auto;
}

.input-name:focus ~ .label-name-text,
.input-name:not(:placeholder-shown) ~ .label-name-text {
  color: #ffffff;
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}

.input-tel:focus ~ .label-tel-text,
.input-tel:not(:placeholder-shown) ~ .label-tel-text {
  color: #ffffff;
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}

.label-name,
.label-tel {
  position: relative;
}

.label-name-text,
.label-tel-text {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.input-comment-box {
  margin-bottom: 50px;
}

.input-comment {
  width: 560px;
  height: 30px;
  padding: 10px 2px 0;
  font-size: 14px;
  background-color: #191c26;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: var(--header-color);
  resize: none;
  text-align: bottom;
  -webkit-transition: border-bottom 250ms linear;
  transition: border-bottom 250ms linear;
  cursor: pointer;
}

.label-comment {
  position: relative;
}

.label-comment-text {
  position: absolute;
  left: 0;
  top: -6px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.input-comment:focus {
  border-bottom: 1px solid #ffffff;
  cursor: auto;
}

.input-comment:focus + .label-comment-text,
.input-comment:not(:placeholder-shown) + .label-comment-text {
  color: #ffffff;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

/* ----------Контакты --------------*/
.contacts {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
}

.contacts-item {
  position: relative;
  padding-left: 38px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-list-icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-tel,
.contacts-mail,
.contacts-location {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-time {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-title);
  margin-top: 70px;
  margin-bottom: 20px;
}

.contacts-time::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 21px;
  background-color: rgba(157, 164, 189, 0.4);
}

.contacts-time-descr {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.experience {
  padding-top: 121px;
  padding-bottom: 130px;
}

.experience-digit {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--title-color);
  display: block;
  text-align: center;
  margin-top: 20px;
}

.experience-digit-sup {
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #ff6c00;
}

.experience-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--title-color);
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.expierence-title-before {
  color: var(--title-color);
  margin-bottom: 20px;
}

.expierence-title {
  margin-bottom: 20px;
  margin-right: 110px;
}

.expierence-descr {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--descr-color);
  margin-right: 125px;
}

.expirence-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.expirenece-container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.expierenece-container-right {
  margin-left: 130px;
}

.expierence-item {
  background-color: #f7f7f7;
  width: 170px;
  height: 133px;
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}

.contaiter-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer-item:last-child {
  margin-left: 40px;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
  padding-left: 55px;
}

.footer-social {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--title-color);
}

.footer-social:hover,
.footer-social:focus {
  color: var(--second-color);
}

.header {
  position: absolute;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo {
  margin-right: 70px;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link,
.header-tel {
  color: var(--header-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.header-link:hover,
.header-tel:hover {
  color: var(--second-color);
}

.header-link:focus,
.header-tel:focus {
  color: var(--second-color);
}

.header-contact {
  margin-left: auto;
}

.header-tel {
  margin-right: 40px;
}

.header-button {
  -webkit-transition: color 250ms linear, border 250ms linear;
  transition: color 250ms linear, border 250ms linear;
}

.header-button:hover {
  color: var(--second-color);
  border: 1px solid #ffffff;
}

.hero-link {
  color: var(--title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.hero-social-box {
  width: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 23px;
  padding-bottom: 40px;
}

.hero-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg) translate(-15px);
          transform: rotate(-90deg) translate(-15px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-social-link::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 21px;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-main-info {
  padding: 272px 0 206px 96px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #202020;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero-bg.jpeg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 1073px;
}

.hero-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.hero-item:not(:last-child) {
  margin-right: 40px;
}

.hero-link:focus,
.hero-link:hover {
  color: var(--second-color);
}

.hero-title-before {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.hero-descr {
  color: #9da4bd;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  max-width: 400px;
}

.masters {
  padding: 130px 0;
  background-color: #f7f7f7;
}

.masters-title-before {
  color: var(--title-color);
  margin-bottom: 20px;
}

.masters-title {
  margin-bottom: 44px;
}

.masters-descr {
  text-align: center;
  margin-top: 30px;
}

.masters-item-position {
  margin-top: 8px;
}

.masters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.masters-item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.masters-item-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.masters-item-position {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.masters-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.masters-social-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--header-color);
  border-radius: 50%;
  fill: #303030;
  -webkit-transition: fill 250 ms linear;
  transition: fill 250 ms linear;
}

.masters-social-item:not(:last-child) {
  margin-right: 10px;
}

.masters-social-link:hover,
.masters-social-link:focus {
  fill: #ff6c00;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #000000;
}

.forms {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.forms-input {
  width: 100%;
}

.price {
  min-width: 1280px;
  margin: 0 auto;
  background-color: #111319;
  background-image: url(../images/price-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
}

.price-list-left,
.price-list-right {
  width: 50%;
}

.price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.price-list-left {
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  padding: 30px 40px;
}

.price-list-right {
  background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  padding: 30px 40px;
}

.price-title-before {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.price-title {
  color: var(--header-title);
  margin-bottom: 44px;
}

.price-item-descr {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.price-item-descr:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.price-item::before {
  content: "";
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.btn {
  text-align: center;
}

.samples {
  padding: 130px 0;
}

.samples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.samples-item {
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.samples-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 44px;
}
/*# sourceMappingURL=main.css.map */