@charset "UTF-8";
:root {
  --header-color: #ffffff;
  --header-title: #ffffff;
  --title-color: #303030;
  --descr-color: #555555;
  --second-color: #ff6c00;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h4,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--header-color);
  background-color: transparent;
  min-width: 160px;
  min-height: 40px;
  border: 1px solid var(--second-color);
  border-radius: 25px;
  -webkit-transition: color 250ms linear, border 250ms linear;
  transition: color 250ms linear, border 250ms linear;
}

.button:hover {
  color: var(--second-color);
  border: 1px solid #ffffff;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.current {
  color: var(--second-color);
  position: relative;
}

.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--second-color);
  left: 0;
  bottom: -32px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-color);
}

.title-before {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-before::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 21px;
  background-color: currentColor;
}

.about {
  padding: 84px 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 139px;
    padding-bottom: 121px;
  }
}

.about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-img-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-img-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-img-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: -30px;
  }
}

.about-img-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .about-img-list__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-container {
    margin-left: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .about-container {
    margin-left: 64px;
  }
}

.about-container__title-before {
  color: var(--title-color);
  margin-bottom: 20px;
}

.about-container__title {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 1200px) {
  .about-container__title {
    font-size: 42px;
    line-height: 1.16;
  }
}

.about-container__title-after {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: var(--descr-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .about-container__title-after {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about-container__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--descr-color);
  margin-bottom: 57px;
}

@media screen and (min-width: 1200px) {
  .about-container__text {
    margin-bottom: 40px;
  }
}

.about-btn {
  color: var(--title-color);
  padding: 12px 20px;
}

.about-btn:hover {
  border: 1px solid var(--title-color);
}

.connect-wrap {
  background-color: #191c26;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: calc(50% - 15px);
  background-position: right;
  min-width: 1280px;
  margin: 0 auto;
}

.connect-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 130px;
  padding-bottom: 130px;
}

.booking-title,
.contacts-title {
  font-family: Raleway;
  color: var(--header-title);
}

.booking-form {
  width: 560px;
  height: 250px;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  margin-bottom: 75px;
}

.input-name {
  margin-right: 20px;
}

.input-name,
.input-tel {
  width: 260px;
  height: 24px;
  padding: 8px 2px;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: var(--header-color);
  cursor: pointer;
  -webkit-transition: border-bottom 250ms linear;
  transition: border-bottom 250ms linear;
}

.input-name:focus,
.input-tel:focus {
  border-bottom: 1px solid #ffffff;
  cursor: auto;
}

.input-name:focus ~ .label-name-text,
.input-name:not(:placeholder-shown) ~ .label-name-text {
  color: #ffffff;
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}

.input-tel:focus ~ .label-tel-text,
.input-tel:not(:placeholder-shown) ~ .label-tel-text {
  color: #ffffff;
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}

.label-name,
.label-tel {
  position: relative;
}

.label-name-text,
.label-tel-text {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.input-comment-box {
  margin-bottom: 50px;
}

.input-comment {
  width: 560px;
  height: 30px;
  padding: 10px 2px 0;
  font-size: 14px;
  background-color: #191c26;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: var(--header-color);
  resize: none;
  text-align: bottom;
  -webkit-transition: border-bottom 250ms linear;
  transition: border-bottom 250ms linear;
  cursor: pointer;
}

.label-comment {
  position: relative;
}

.label-comment-text {
  position: absolute;
  left: 0;
  top: -6px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.input-comment:focus {
  border-bottom: 1px solid #ffffff;
  cursor: auto;
}

.input-comment:focus + .label-comment-text,
.input-comment:not(:placeholder-shown) + .label-comment-text {
  color: #ffffff;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

/* ----------Контакты --------------*/
.contacts {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
}

.contacts-item {
  position: relative;
  padding-left: 38px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-list-icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-tel,
.contacts-mail,
.contacts-location {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-time {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-title);
  margin-top: 70px;
  margin-bottom: 20px;
}

.contacts-time::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 21px;
  background-color: rgba(157, 164, 189, 0.4);
}

.contacts-time-descr {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.experience {
  padding-top: 81px;
  padding-bottom: 81px;
}

@media screen and (min-width: 768px) {
  .experience {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .experience {
    padding-top: 121px;
    padding-bottom: 130px;
  }
}

.expirence-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 1200px) {
  .expirence-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.expirenece-container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.expierenece-container-right {
  max-width: 418px;
}

@media screen and (min-width: 768px) {
  .expierenece-container-right {
    max-width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .expierenece-container-right {
    margin-left: 130px;
    padding: 0;
  }
}

.expierence-item {
  background-color: #f7f7f7;
  width: 170px;
  height: 133px;
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
}

.expierence-item:nth-child(2n) {
  margin-top: 30px;
}

.experience-digit {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--title-color);
  display: block;
  text-align: center;
  margin-top: 20px;
}

.experience-digit-sup {
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ff6c00;
}

.experience-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--title-color);
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.expierence-title {
  font-size: 40px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .expierence-title {
    font-size: 42px;
  }
}

.expierence-title-before {
  color: var(--title-color);
  margin-bottom: 20px;
}

.expierence-descr {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--descr-color);
  margin-bottom: 44px;
}

.experience-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .experience-list {
    padding-left: 250px;
  }
}

@media screen and (min-width: 1200px) {
  .experience-list {
    padding-left: 0;
    max-width: 400px;
  }
}

.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}

.contaiter-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer-item:last-child {
  margin-left: 40px;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
  padding-left: 55px;
}

.footer-social {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--title-color);
}

.footer-social:hover,
.footer-social:focus {
  color: var(--second-color);
}

.header {
  position: absolute;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .header-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 60px;
  }
}

.header-logo-icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .header-logo-icon {
    fill: var(--title-color);
  }
}

.header-nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -25px;
    padding-top: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav__list {
    padding-top: 0;
  }
}

.header-nav__item {
  margin-right: 25px;
}

.header-nav__link {
  color: var(--header-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.header-nav__link:hover, .header-nav__link:focus {
  color: var(--second-color);
}

.header-contact {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px;
}

@media screen and (max-width: 767px) {
  .header-contact {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 0;
  }
}

.header-contact-tel {
  margin-top: 20px;
  color: var(--header-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

@media screen and (min-width: 1200px) {
  .header-contact-tel {
    margin-right: 40px;
    margin-top: 0;
  }
}

.header-contact-tel:hover, .header-contact-tel:focus {
  color: var(--second-color);
}

.header-button {
  -webkit-transition: color 250ms linear, border 250ms linear;
  transition: color 250ms linear, border 250ms linear;
}

.header-button:hover, .header-button:focus {
  color: var(--second-color);
  border: 1px solid #ffffff;
}

.mobile-menu-open-btn {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 75vw;
  height: 100vh;
  background-color: aquamarine;
  -webkit-transition: right 500ms linear;
  transition: right 500ms linear;
}

.mobile-menu.is-hidden {
  right: 100%;
}

.hero-container {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
  }
}

.hero-social-box {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-social-box {
    width: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 23px;
    padding-bottom: 40px;
  }
}

.hero-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg) translate(-15px);
          transform: rotate(-90deg) translate(-15px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-social-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 21px;
}

.hero-social-list__item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.hero-social-list__item:not(:last-child) {
  margin-right: 40px;
}

.hero-social-list__link {
  color: var(--title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.hero-social-list__link:focus, .hero-social-list__link:hover {
  color: var(--second-color);
}

.hero-main-info {
  padding: 208px 0 183px 30px;
  background-color: #202020;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero-mob-1x-min.jpeg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-mob-1x-min.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-main-info {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero-mob-2x-min.jpeg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-mob-2x-min.jpeg);
  }
}

@media screen and (min-width: 768px) {
  .hero-main-info {
    padding: 272px 0 206px 96px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero-tab-1x-min.jpeg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-tab-1x-min.jpeg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-main-info {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero-tab-2x-min.jpeg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-tab-2x-min.jpeg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-main-info {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero-1x-min.jpeg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-1x-min.jpeg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-main-info {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero-2x-min.jpeg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-2x-min.jpeg);
  }
}

.hero-title-before {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

@media screen and (min-width: 350px) {
  .hero-title {
    font-size: 38px;
  }
}

@media screen and (min-width: 400px) {
  .hero-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero-text {
  color: #9da4bd;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  max-width: 306px;
}

@media screen and (min-width: 768px) {
  .hero-text {
    max-width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-text {
    max-width: 400px;
  }
}

.masters {
  padding: 84px 0;
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .masters {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1200px) {
  .masters {
    padding: 130px 0;
  }
}

.masters-title-before {
  color: var(--title-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .masters-title-before {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.masters-title {
  margin-bottom: 44px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .masters-title {
    text-align: start;
  }
}

.masters-descr__name {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-align: center;
  margin-top: 30px;
}

.masters-descr__position {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-align: center;
  margin-top: 8px;
}

.masters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -30px;
}

@media screen and (min-width: 1200px) {
  .masters-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: -30px;
  }
}

.masters-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .masters-item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.masters-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.masters-social-list__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--header-color);
  border-radius: 50%;
  fill: #303030;
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.masters-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.masters-social-list__link:hover, .masters-social-list__link:focus {
  fill: #ff6c00;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #000000;
}

.forms {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.forms-input {
  width: 100%;
}

.price-title-before {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.price-title {
  color: var(--header-title);
  margin-bottom: 44px;
}

.price {
  background-color: #111319;
  background-image: url(../images/price-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 1200px) {
  .price {
    min-width: 1280px;
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

@media screen and (min-width: 1200px) {
  .price-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.price-box--left {
  margin-bottom: 15px;
  padding: 30px 30px 0 30px;
}

@media screen and (min-width: 768px) {
  .price-box--left {
    padding: 30px 40px 0 40px;
  }
}

@media screen and (min-width: 1200px) {
  .price-box--left {
    width: 50%;
    padding: 30px 40px;
    margin-bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

.price-box--right {
  padding: 0 30px 30px 30px;
}

@media screen and (min-width: 768px) {
  .price-box--right {
    padding: 0 40px 30px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .price-box--right {
    width: 50%;
    padding: 30px 40px;
    background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.price-box__item:not(:last-child) {
  margin-bottom: 20px;
}

.price-box__item::before {
  content: "";
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.price-box__text {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

@media screen and (min-width: 768px) {
  .price-box__text {
    font-size: 18px;
    line-height: 1.67;
  }
}

.price-box__text:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.price-btn-box {
  margin-top: 50px;
  text-align: center;
}

.samples {
  padding: 84px 0;
}

@media screen and (min-width: 768px) {
  .samples {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1200px) {
  .samples {
    padding: 130px 0;
  }
}

.samples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .samples-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .samples-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.samples-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .samples-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .samples-item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.samples-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .samples-img {
    min-width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .samples-img {
    min-width: 270px;
  }
}
/*# sourceMappingURL=main.css.map */