:root {
  --header-color: #ffffff;
  --header-title: #ffffff;
  --title-color: #303030;
  --descr-color: #555555;
  --second-color: #ff6c00;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h4,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title-before {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.title-before::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 21px;
  background-color: currentColor;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-color);
}

.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--header-color);
  background-color: transparent;

  min-width: 160px;
  min-height: 40px;

  border: 1px solid var(--second-color);
  border-radius: 25px;
}

/* ------------Шапка-------------- */

.header {
  position: absolute;

  padding-top: 32px;
  padding-left: 60px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-logo {
  margin-right: 70px;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link,
.header-tel {
  color: var(--header-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-contact {
  margin-left: auto;
}

.header-tel {
  margin-right: 40px;
}

.header-button:hover {
  color: var(--second-color);
  border: 1px solid #ffffff;
}

.header-link:hover,
.header-tel:hover {
  color: #ff6c00;
}

.header-link:focus,
.header-tel:focus {
  color: var(--second-color);
}

/* ----------Герой------------ */

.hero-link {
  color: var(--title-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

/* .hero-social-link {
  outline: 1px solid red;
  height: 93px;
  transform: rotate(-90deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap-reverse;
} */

.hero-social-link::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: currentColor;
}

.hero-container {
  display: flex;
}

.hero-main-info {
  padding: 272px 0 206px 96px;
  flex-grow: 1;

  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1073px;
}

.hero-link:focus,
.hero-link:hover {
  color: var(--second-color);
}

.hero-title-before {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  color: #ffffff;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  margin-bottom: 20px;
}

.hero-descr {
  color: #9da4bd;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  max-width: 400px;
}

/* ------------Описание барбершопа------- */

.about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about-container {
  display: flex;
}

.about-list {
  display: flex;
}

.about-item:first-child {
  margin-right: 30px;
}

.about-descr-container {
  padding-left: 64px;
}

.about-title-before {
  color: var(--title-color);
  margin-bottom: 20px;
}

.about-title {
  margin-bottom: 20px;
}

.about-title-after {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--descr-color);

  margin-bottom: 20px;
}

.about-descr {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--descr-color);

  margin-bottom: 40px;
}

.about-btn {
  color: var(--title-color);
  padding: 12px 20px;
}

/* ------------Цены--------- */

.price {
  min-width: 1280px;
  margin: 0 auto;
  background-color: #111319;
  background-image: url(../images/price-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
}

.price-list-left,
.price-list-right {
  width: 50%;
}

.price-item {
  display: flex;
  justify-content: space-between;
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-all {
  display: flex;
  margin-bottom: 50px;
}

.price-list-left {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  padding: 30px 40px;
}

.price-list-right {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  padding: 30px 40px;
}

.price-title-before {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.price-title {
  color: var(--header-title);

  margin-bottom: 44px;
}

.price-item-descr {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.price-item-descr:first-child {
  order: -1;
}

.price-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
}

.price-item::before {
  content: "";
  height: 1px;
  flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.btn {
  text-align: center;
}

/* ----------------Почему нас выбирают---------- */

.experience {
  padding-top: 121px;
  padding-bottom: 130px;
}

.experience-digit {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--title-color);

  display: block;
  text-align: center;
  margin-top: 20px;
}

.experience-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--title-color);

  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.expierence-title-before {
  color: var(--title-color);
  margin-bottom: 20px;
}

.expierence-title {
  margin-bottom: 20px;
  margin-right: 110px;
}

.expierence-descr {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--descr-color);
  margin-right: 125px;
}

.expirence-container {
  display: flex;
}

.expirenece-container-left {
  display: flex;
}

.experience-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
}

.expierenece-container-right {
  margin-left: 130px;
}
.expierence-item {
  background-color: #f7f7f7;
  width: 170px;
  height: 133px;

  flex-basis: calc(100% / 2 - 30px);

  margin-top: 30px;
  margin-left: 30px;
}

/* ---------Мастера----------- */

.masters {
  padding: 130px 0;
  background-color: #f7f7f7;
}

.masters-title-before {
  color: var(--title-color);

  margin-bottom: 20px;
}

.masters-title {
  margin-bottom: 44px;
}

.masters-descr {
  text-align: center;
  margin-top: 30px;
}

.masters-item-position {
  margin-top: 8px;
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.masters-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

/* .masters-item:not(:last-child) {
  margin-right: 30px;
} */

.masters-item-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.masters-item-position {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.masters-social-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.masters-social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-color);
  border-radius: 50%;
  fill: #303030;
}

.masters-social-item:not(:last-child) {
  margin-right: 10px;
}

.masters-social-link:hover,
.masters-social-link:focus {
  fill: #ff6c00;
}

/* ---------Примеры работ-------- */

.samples {
  padding: 130px 0;
}

.samples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.samples-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.samples-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);

  margin-bottom: 44px;
}

/* ----------Онлайн запись-------- */

.connect-wrap {
  background-color: #191c26;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: calc(50% - 15px);
  background-position: right;
  min-width: 1280px;
  margin: 0 auto;
}

.connect-container {
  display: flex;
}

.booking {
  flex-grow: 1;
  padding-top: 130px;
  padding-bottom: 130px;
}

.booking-title,
.contacts-title {
  font-family: Raleway;
  color: var(--header-title);
}

/* ----------Контакты --------------*/

.contacts {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
}

.contacts-item {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-tel,
.contacts-mail {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-time {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-title);

  margin-top: 70px;
  margin-bottom: 20px;
}

.contacts-time-descr {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* --------- Футер ----------*/

.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}

.contaiter-footer {
  display: flex;
  align-items: center;
}

.footer-list {
  display: flex;
  margin-left: auto;
}

.footer-item:last-child {
  margin-left: 40px;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;

  padding-left: 55px;
}

.footer-social {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--title-color);
}

.footer-social:hover,
.footer-social:focus {
  color: var(--second-color);
}
