.header {
  position: absolute;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  @media screen and (min-width: 1200px) {
    align-items: center;
  }
}
.header-logo {
  @media screen and (min-width: 768px) {
    margin-right: 60px;
  }
}

.header-logo-icon {
  fill: #ffffff;
  @media screen and (min-width: 768px) {
    fill: var(--title-color);
  }
}

.header-nav {
  &__list {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      margin-right: -25px;
      padding-top: 8px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 0;
    }
  }
  &__item {
    margin-right: 25px;
  }
  &__link {
    color: var(--header-color);

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    transition: color 250ms linear;
    &:hover,
    &:focus {
      color: var(--second-color);
    }
  }
}

.header-contact {
  @media screen and (max-width: 767px) {
    display: none;
  }

  margin-left: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 8px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    padding-top: 0;
  }
}

.header-contact-tel {
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    margin-right: 40px;
    margin-top: 0;
  }

  color: var(--header-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--second-color);
  }
}

.header-button {
  transition: color 250ms linear, border 250ms linear;
  &:hover,
  &:focus {
    color: var(--second-color);
    border: 1px solid #ffffff;
  }
}
