.masters {
  padding: 84px 0;
  background-color: #f7f7f7;

  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 130px 0;
  }
}

.masters-title-before {
  color: var(--title-color);

  justify-content: center;

  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    justify-content: start;
  }
}

.masters-title {
  margin-bottom: 44px;

  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.masters-descr {
  &__name {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.38;
    letter-spacing: 0.02em;
    color: var(--title-color);

    text-align: center;
    margin-top: 30px;
  }
  &__position {
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    color: var(--second-color);

    text-align: center;
    margin-top: 8px;
  }
}

.masters-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -30px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-left: -30px;
  }
}

.masters-item {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.masters-social-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
    border-radius: 50%;
    fill: #303030;

    transition: fill 250ms linear;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__link:hover,
  &__link:focus {
    fill: #ff6c00;
  }
}
