.masters {
  padding: 130px 0;
  background-color: #f7f7f7;
}

.masters-title-before {
  color: var(--title-color);

  margin-bottom: 20px;
}

.masters-title {
  margin-bottom: 44px;
}

.masters-descr {
  text-align: center;
  margin-top: 30px;
}

.masters-item-position {
  margin-top: 8px;
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.masters-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.masters-item-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.masters-item-position {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.masters-social-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.masters-social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-color);
  border-radius: 50%;
  fill: #303030;

  transition: fill 250 ms linear;
}

.masters-social-item:not(:last-child) {
  margin-right: 10px;
}

.masters-social-link:hover,
.masters-social-link:focus {
  fill: #ff6c00;
}
