.samples {
  padding: 130px 0;
}

.samples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.samples-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.samples-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-color);

  margin-bottom: 44px;
}
